<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>bpxleydecookies</name>
	<displayName><![CDATA[BPX Ley de Cookies]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Cumplimiento con la nueva Ley de Cookies Europea, informando al usuario y permitiéndole configurar las cookies usadas en la navegacion.]]></description>
	<author><![CDATA[juanfer@bioprox.es]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
